In [1]:
import pandas as pd

In [2]:
df_list=[]
year_list=[]
for year in range(2017,2022):
    year_list.append(year)
    df_list.append(pd.read_excel(f"districtwise IPC crime {year}.xlsx"))

In [3]:
df_list[0].head()

,IPC Crimes (Crime Head-wise & States/UT-wise) - 2017,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 135,Unnamed: 136,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144
0,S. No,State/UT/District,Offences affecting the Human Body,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other IPC Crimes,Total Cognizable IPC crimes
1,NaN,NaN,Murder (Sec.302 IPC),Culpable Homicide not amounting to Murder (Sec...,Causing Death by Negligence,NaN,NaN,NaN,NaN,NaN,...,Offences related to Mischief (Sec.428 to 433),"Arson (Sec.435, 436 & 438 IPC)",Criminal Trespass (Sec.447 to 452 IPC),Cruelty by Husband or his Relatives (Sec.498-A...,Circulate False/Fake News/Rumours (Sec.505 IPC...,Criminal Intimidation (Sec.506 r/w Other IPC C...,Insult to the Modesty of Women (Sec.509 IPC),Miscellaneous IPC Crimes(Total),NaN,NaN
2,NaN,NaN,NaN,NaN,Causing Death by Negligence (Sec.304-A IPC) (C...,Deaths due to Negligence relating to Road Acci...,NaN,NaN,Deaths due to Negligence relating to Rail Acci...,Deaths due to Medical Negligence,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,Deaths due to Negligence relating to Road Acci...,Hit and Run,Other Accidents (other than Hit and Run),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# To get column names to first row
def column_name_to_first_row(df):
    # Find where does data start
    data_start=0
    for i, data in enumerate(df.iloc[:,0]):
        data_start=i
        if str(data).isnumeric():
            break
    # To get column names to first row from last non null row before data starts
    no_of_columns=len(df.columns)
    for j in range(no_of_columns):
        df_temp=df.iloc[0:data_start,[j]]
        i=data_start-1
        while i>=0:
            if not pd.isnull(df_temp.iloc[i,0]):
                df.iloc[0,j]=df_temp.iloc[i,0]
                break
            i-=1

    # State data start
    state_data_start=0
    for i, data in enumerate(df.iloc[:,0]):
        state_data_start=i
        if str(data).lower().find("state")>-1:
            break
    # Remove unwanted rows
    df.drop(df.index[1:state_data_start],inplace=True)
    return df

In [5]:
for index, df in enumerate(df_list):
    df_list[index]=column_name_to_first_row(df)

In [6]:
df_list[0].head(10)

,IPC Crimes (Crime Head-wise & States/UT-wise) - 2017,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 135,Unnamed: 136,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144
0,S. No,State/UT/District,Murder (Sec.302 IPC),Culpable Homicide not amounting to Murder (Sec...,Causing Death by Negligence (Sec.304-A IPC) (C...,Deaths due to Negligence relating to Road Acci...,Hit and Run,Other Accidents (other than Hit and Run),Deaths due to Negligence relating to Rail Acci...,Deaths due to Medical Negligence,...,Offences related to Mischief (Sec.428 to 433),"Arson (Sec.435, 436 & 438 IPC)",Criminal Trespass (Sec.447 to 452 IPC),Cruelty by Husband or his Relatives (Sec.498-A...,Circulate False/Fake News/Rumours (Sec.505 IPC...,Criminal Intimidation (Sec.506 r/w Other IPC C...,Insult to the Modesty of Women (Sec.509 IPC),Miscellaneous IPC Crimes(Total),Other IPC Crimes,Total Cognizable IPC crimes
6,State: Andhra Pradesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,Anantapur,113,4,569,553,50,503,0,0,...,9,38,198,471,0,139,8,2833,159,8119
8,2,Chittoor,70,5,529,497,36,461,0,0,...,4,7,100,212,1,26,12,691,470,3804
9,3,Cuddapah,88,10,487,469,32,437,0,0,...,44,68,198,481,0,332,60,8127,447,14502
10,4,East Godavari,69,14,664,641,138,503,0,0,...,25,40,848,601,0,50,127,4164,48,9041
11,5,Guntakal Railway,11,0,4,0,0,0,0,0,...,0,0,0,1,0,2,4,7,6,751
12,6,Guntur,100,6,611,595,62,533,0,0,...,31,38,10,558,0,70,387,7142,729,12489
13,7,Guntur Urban,32,9,266,266,3,263,0,0,...,2,19,93,335,0,186,184,1536,157,4530
14,8,Krishna,35,8,370,367,35,332,0,0,...,0,31,0,620,0,0,221,1792,1239,6920

In [7]:
def check_name_of_column_in_match(column_name,match):
    return all(x in column_name for x in match)

In [8]:
#column names to search
matches_S_no = ["s.","no"]
matches_district = ["district"]
matches_murder = ["murder", "302"]
# matches_death = ["death","negligence","304"] #remove
matches_riot = ["riot","total"] #to do
matches_dacoity= ["dacoity","total"] #to do
matches_robbery= ["robbery","392"] #to do
matches_dowry_death= ["death","dowry"]
matches_theft= ["theft","total"]
matches_kidnap= ["kidnap","total"]
matches_rape= ["rape"]
 # if not check_name_of_column(col_name,matches_not_contain_rape) and check_name_of_column(col_name,matches_rape):
matches_not_contain_rape= ["attempt"]
# matches_fraud= ["fraud","total"]  #remove
# matches_rash_driving= ["rash","driving","total"]  #remove
matches_assault_on_women= ["assault","women","total"]
matches_total_crimes= ["crimes","total"]
matches_not_contain_total_crimes= ["miscellaneous"]
# if not check_name_of_column(col_name,matches_not_contain_total_crimes) and check_name_of_column(col_name,matches_total_crimes):
matches_not_contain_space=[" "]

In [9]:
def rename_and_remove_unwanted_column(df):
    no_of_columns=len(df.columns)
    wanted_columns=[]

# To rename column
    for j in range(no_of_columns):
        col_name=df.iloc[0,j].lower()
        if check_name_of_column_in_match(col_name,matches_district):
            df = df.rename(columns={df.columns[j]: 'District'})
            wanted_columns.append('District')
        elif check_name_of_column_in_match(col_name,matches_S_no):
            df = df.rename(columns={df.columns[j]: 'S. No.'})
            wanted_columns.append('S. No.')   
        elif check_name_of_column_in_match(col_name,matches_murder):
            df = df.rename(columns={df.columns[j]: 'Murder'})
            wanted_columns.append('Murder')
        elif check_name_of_column_in_match(col_name,matches_riot):
            df = df.rename(columns={df.columns[j]: 'Riot'})
            wanted_columns.append('Riot')
        elif check_name_of_column_in_match(col_name,matches_dacoity):
            df = df.rename(columns={df.columns[j]: 'Dacoity'})
            wanted_columns.append('Dacoity')
        elif check_name_of_column_in_match(col_name,matches_robbery):
            df = df.rename(columns={df.columns[j]: 'Robbery'})
            wanted_columns.append('Robbery')
        # elif check_name_of_column_in_match(col_name,matches_death):
        #     df = df.rename(columns={df.columns[j]: 'Death by negligence'})
        #     wanted_columns.append('Death by negligence')
        elif check_name_of_column_in_match(col_name,matches_dowry_death):
            df = df.rename(columns={df.columns[j]: 'Dowry death'})
            wanted_columns.append('Dowry death')
        elif check_name_of_column_in_match(col_name,matches_theft):
            df = df.rename(columns={df.columns[j]: 'Theft'})
            wanted_columns.append('Theft')
        elif check_name_of_column_in_match(col_name,matches_kidnap):
            df = df.rename(columns={df.columns[j]: 'Kidnapping and abduction'})
            wanted_columns.append('Kidnapping and abduction')
        elif not check_name_of_column_in_match(col_name,matches_not_contain_rape) and check_name_of_column_in_match(col_name,matches_rape):
            df = df.rename(columns={df.columns[j]: 'Rape'})
            wanted_columns.append('Rape')
        # elif check_name_of_column_in_match(col_name,matches_fraud):
        #     df = df.rename(columns={df.columns[j]: 'Fraud'})
        #     wanted_columns.append('Fraud')
        # elif check_name_of_column_in_match(col_name,matches_rash_driving):
        #     df = df.rename(columns={df.columns[j]: 'Rash driving'})
        #     wanted_columns.append('Rash driving')
        elif check_name_of_column_in_match(col_name,matches_assault_on_women):
            df = df.rename(columns={df.columns[j]: 'Assault on women'})
            wanted_columns.append('Assault on women')
        elif not check_name_of_column_in_match(col_name,matches_not_contain_total_crimes) and check_name_of_column_in_match(col_name,matches_total_crimes):
            df = df.rename(columns={df.columns[j]: 'Total crimes'})
            wanted_columns.append('Total crimes')

# To remove unwanted columns
    df = df.filter(wanted_columns)
    return df

In [10]:
for index, df in enumerate(df_list):
    df_list[index]=rename_and_remove_unwanted_column(df)

In [11]:
df_list[2].head()

,S. No.,District,Murder,Dowry death,Assault on women,Kidnapping and abduction,Rape,Riot,Theft,Robbery,Dacoity,Total crimes
0,S. No,State/UT/District,Murder (Sec.302 IPC),Dowry Deaths (Sec.304-B IPC),Assault on Women with Intent to Outrage her Mo...,Kidnapping and Abduction (Total) (Col.46+ Col....,Rape (Sec.376 IPC),Rioting (Total) (Col.70 to Col.86)\nCol.198=Co...,Theft (Total) (Col.93+Col.94)\n,Robbery (Sec.392/394/397 IPC),Dacoity (Total) (Col.102+Col.103)\n,Total Cognizable IPC crimes
7,State : Andhra Pradesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,Anantapur,105,11,340,70,83,43,422,29,5,8127
9,2,Chittoor,68,4,218,11,32,66,401,21,2,5464
10,3,Cuddapah,57,7,250,13,41,44,338,9,1,10310

In [12]:
def add_state_column(df):
    unwanted_rows=[]
    for index, data in enumerate(df.iloc[:,0]):
        if str(data).lower().find("state") > -1:
            state= data.replace("State","")
            state= state.replace(":","")
        if str(data).isnumeric():
            df.iloc[index,0]=state.strip()
        else:
            unwanted_rows.append(index)

# To remove unwanted rows
    df.drop(df.index[unwanted_rows], inplace=True)
    
# To rename column
    df.rename(columns={"S. No.": "State"},inplace=True)
    
    return df

In [13]:
def add_year_column(df,year):
    df["Year"]=year
    return df

In [14]:
for index, df in enumerate(df_list):
    df_list[index]=add_state_column(df)
    df_list[index]=add_year_column(df,year_list[index])

In [15]:
df_list[4]

,State,District,Murder,Dowry death,Assault on women,Kidnapping and abduction,Rape,Riot,Theft,Robbery,Dacoity,Total crimes,Year
7,Andhra Pradesh,Anantapur,107,9,422,66,104,39,604,12,5,15017,2021
8,Andhra Pradesh,Chittoor,68,18,107,29,13,72,556,6,8,12697,2021
9,Andhra Pradesh,Cuddapah,64,3,203,21,28,9,527,10,1,8606,2021
10,Andhra Pradesh,East Godavari,64,11,443,79,118,43,1045,17,5,9535,2021
11,Andhra Pradesh,Guntakal Railway,2,1,4,0,0,0,299,5,0,355,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,Ladakh,Kargil,4,0,2,1,1,4,4,0,0,176,2021
1012,Ladakh,Leh,1,0,3,3,1,4,6,0,0,343,2021
1016,Lakshadweep,Lakshadweep,1,0,1,0,0,0,7,0,0,89,2021
1020,Puducherry,Karaikal,0,0,0,0,0,0,0,0,0,0,2021
1021,Puducherry,Puducherry,19,2,31,40,2,17,408,12,4,3851,2021

In [16]:
def rearrange_columns(df,columns):
    df = df[columns]
    return df

In [17]:
columns=["State","District","Year","Theft","Riot","Dacoity","Dowry death","Rape","Murder","Kidnapping and abduction","Robbery","Assault on women","Total crimes"]

In [18]:
# To change order of columns
for i,df in enumerate(df_list):
    df_list[i]=rearrange_columns(df,columns)

In [19]:
df_list[4]

,State,District,Year,Theft,Riot,Dacoity,Dowry death,Rape,Murder,Kidnapping and abduction,Robbery,Assault on women,Total crimes
7,Andhra Pradesh,Anantapur,2021,604,39,5,9,104,107,66,12,422,15017
8,Andhra Pradesh,Chittoor,2021,556,72,8,18,13,68,29,6,107,12697
9,Andhra Pradesh,Cuddapah,2021,527,9,1,3,28,64,21,10,203,8606
10,Andhra Pradesh,East Godavari,2021,1045,43,5,11,118,64,79,17,443,9535
11,Andhra Pradesh,Guntakal Railway,2021,299,0,0,1,0,2,0,5,4,355
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,Ladakh,Kargil,2021,4,4,0,0,1,4,1,0,2,176
1012,Ladakh,Leh,2021,6,4,0,0,1,1,3,0,3,343
1016,Lakshadweep,Lakshadweep,2021,7,0,0,0,0,1,0,0,1,89
1020,Puducherry,Karaikal,2021,0,0,0,0,0,0,0,0,0,0
1021,Puducherry,Puducherry,2021,408,17,4,2,2,19,40,12,31,3851

In [20]:
# To save into excel files
for i,year in enumerate(year_list):
    df_list[i].to_excel(rf"C:\Users\Rakesh Nath\Documents\tableau\Crime project\updated data\Transformed data\districtwise IPC crime {year}.xlsx",index= False)

In [21]:
# 2016 and before
df_list=[]
year_list=[]
for year in range(2014,2017):
    year_list.append(year)
    df_list.append(pd.read_excel(f"districtwise IPC crime {year}.xlsx"))

In [22]:
df_list[2]

,District-Wise IPC Cases Reported,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,SL,District,YEAR,Murder,Attempt to commit Murder,Culpable Homicide not amounting to Murder,Attempt to commit Culpable Homicide,Rape,Attempt to commit Rape,Kidnapping & Abduction_Total,...,Causing Death by Negligence,Offences against State,Offences promoting enmity between different gr...,Extortion,Disclosure of Identity of Victims,Incidence of Rash Driving,HumanTrafficking,Unnatural Offence,Other IPC crimes,Total Cognizable IPC crimes
1,State: Andhra Pradesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Anantapur,2016,127,195,6,0,33,15,71,...,588,0,0,29,0,862,0,0,3200,7098
3,2,Chittoor,2016,72,73,3,0,21,12,19,...,590,0,0,20,0,738,0,0,1429,4242
4,3,Cuddapah,2016,78,257,6,0,38,9,24,...,480,0,0,38,0,2520,8,0,1987,7429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921,State: Puducherry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
922,1,Karaikal,2016,2,2,0,0,5,0,0,...,56,0,0,3,0,215,0,0,203,598
923,2,Puducherry,2016,31,10,2,0,1,0,15,...,190,0,0,14,0,1353,0,0,1099,3488
924,3,Total District(s),NaN,33,12,2,0,6,0,15,...,246,0,0,17,0,1568,0,0,1302,4086
925,Source: Crime in India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# To search column names 
matches_S_no = ["sl"]
matches_district = ["district"]
matches_murder = ["murder"]
# if check_name_of_column_in_match(col_name,matches_murder) and not check_name_of_column_in_match(col_name,matches_not_contain_space) :
matches_riot = ["riot"]
# if check_name_of_column_in_match(col_name,matches_riot) and not check_name_of_column_in_match(col_name,matches_not_contain_space):
matches_not_contain_underscore = ["_"]
matches_dacoity= ["dacoity"]
# if check_name_of_column_in_match(col_name,matches_dacoity) and not check_name_of_column_in_match(col_name,matches_not_contain_space):
matches_robbery= ["robbery"]
# matches_death = ["death","negligence"] #remove
matches_dowry_death= ["death","dowry"]
matches_theft= ["theft"]
# if check_name_of_column_in_match(col_name,matches_theft) and not check_name_of_column_in_match(col_name,matches_not_contain_space):
matches_kidnap= ["kidnap","total"]
matches_rape= ["rape"]
 # if check_name_of_column_in_match(col_name,matches_rape) and not check_name_of_column_in_match(col_name,matches_not_contain_space) and not check_name_of_column_in_match(col_name,matches_not_contain_rape):
matches_not_contain_rape= ["other"]
# matches_fraud= ["cheating"]  #remove
# matches_rash_driving= ["rash","driving"]  #remove
matches_assault_on_women= ["assault","women","criminal"]
matches_assault_on_women_2016= ["assault","women"]
matches_total_crimes= ["crimes","total"]
matches_not_contain_space = [" "]

In [24]:
def rename_and_remove_unwanted_column2(df,index):
    no_of_columns=len(df.columns)
    wanted_columns=[]

# To rename column
    for j in range(no_of_columns):
        col_name=str(df.iloc[0,j]).lower()
        if check_name_of_column_in_match(col_name,matches_district):
            df = df.rename(columns={df.columns[j]: 'District'})
            wanted_columns.append('District')
        elif check_name_of_column_in_match(col_name,matches_S_no):
            df = df.rename(columns={df.columns[j]: 'S. No.'})
            wanted_columns.append('S. No.')   
        elif check_name_of_column_in_match(col_name,matches_murder) and not check_name_of_column_in_match(col_name,matches_not_contain_space):
            df = df.rename(columns={df.columns[j]: 'Murder'})
            wanted_columns.append('Murder')
        elif check_name_of_column_in_match(col_name,matches_riot) and not check_name_of_column_in_match(col_name,matches_not_contain_underscore):
            df = df.rename(columns={df.columns[j]: 'Riot'})
            wanted_columns.append('Riot')
        elif check_name_of_column_in_match(col_name,matches_dacoity) and not check_name_of_column_in_match(col_name,matches_not_contain_space):
            df = df.rename(columns={df.columns[j]: 'Dacoity'})
            wanted_columns.append('Dacoity')
        elif check_name_of_column_in_match(col_name,matches_robbery):
            df = df.rename(columns={df.columns[j]: 'Robbery'})
            wanted_columns.append('Robbery')
        # elif check_name_of_column_in_match(col_name,matches_death):
        #     df = df.rename(columns={df.columns[j]: 'Death by negligence'})
        #     wanted_columns.append('Death by negligence')
        elif check_name_of_column_in_match(col_name,matches_dowry_death):
            df = df.rename(columns={df.columns[j]: 'Dowry death'})
            wanted_columns.append('Dowry death')
        elif check_name_of_column_in_match(col_name,matches_theft) and not check_name_of_column_in_match(col_name,matches_not_contain_space):
            df = df.rename(columns={df.columns[j]: 'Theft'})
            wanted_columns.append('Theft')
        elif check_name_of_column_in_match(col_name,matches_kidnap):
            df = df.rename(columns={df.columns[j]: 'Kidnapping and abduction'})
            wanted_columns.append('Kidnapping and abduction')
        elif check_name_of_column_in_match(col_name,matches_rape) and not check_name_of_column_in_match(col_name,matches_not_contain_space) and not check_name_of_column_in_match(col_name,matches_not_contain_rape):
            df = df.rename(columns={df.columns[j]: 'Rape'})
            wanted_columns.append('Rape')
        # elif check_name_of_column_in_match(col_name,matches_fraud):
        #     df = df.rename(columns={df.columns[j]: 'Fraud'})
        #     wanted_columns.append('Fraud')
        # elif check_name_of_column_in_match(col_name,matches_rash_driving):
        #     df = df.rename(columns={df.columns[j]: 'Rash driving'})
        #     wanted_columns.append('Rash driving')
        elif check_name_of_column_in_match(col_name,matches_assault_on_women):
            df = df.rename(columns={df.columns[j]: 'Assault on women'})
            wanted_columns.append('Assault on women')
        elif check_name_of_column_in_match(col_name,matches_total_crimes):
            df = df.rename(columns={df.columns[j]: 'Total crimes'})
            wanted_columns.append('Total crimes')
        elif index == 2:  #2016 had different name
            if check_name_of_column_in_match(col_name,matches_assault_on_women_2016):
                df = df.rename(columns={df.columns[j]: 'Assault on women'})
                wanted_columns.append('Assault on women')

# To remove unwanted columns
    df = df.filter(wanted_columns)
    return df

In [25]:
for index, df in enumerate(df_list):
    df_list[index]=rename_and_remove_unwanted_column2(df,index)

In [26]:
df_list[0].head()

,S. No.,District,Murder,Rape,Kidnapping and abduction,Dacoity,Robbery,Theft,Riot,Dowry death,Assault on women,Total crimes
0,SL,District,Murder,Rape,Kidnapping & Abduction_Total,Dacoity,Robbery,Theft,Riots,Dowry Deaths,Assault or use of criminal force to women with...,Total Cognizable IPC crimes
1,State: Andhra Pradesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Anantapur,134,35,125,6,30,753,214,25,34,8376
3,2,Chittoor,84,32,38,12,22,528,134,17,0,5374
4,3,Cuddapah,80,28,27,3,16,638,104,16,0,5803

In [27]:
for index, df in enumerate(df_list):
    df_list[index]=add_state_column(df)
    df_list[index]=add_year_column(df,year_list[index])

In [28]:
df_list[2].head()

,State,District,Murder,Rape,Kidnapping and abduction,Dacoity,Robbery,Theft,Riot,Dowry death,Assault on women,Total crimes,Year
2,Andhra Pradesh,Anantapur,127,33,71,1,12,509,104,23,362,7098,2016
3,Andhra Pradesh,Chittoor,72,21,19,7,2,515,46,12,135,4242,2016
4,Andhra Pradesh,Cuddapah,78,38,24,7,11,514,73,12,266,7429,2016
5,Andhra Pradesh,East Godavari,64,120,61,4,14,960,77,12,413,7991,2016
6,Andhra Pradesh,Guntakal Railway,8,0,1,0,7,584,3,2,8,665,2016

In [29]:
# To change order of columns
for i,df in enumerate(df_list):
    df_list[i]=rearrange_columns(df,columns)

In [30]:
df_list[2]

,State,District,Year,Theft,Riot,Dacoity,Dowry death,Rape,Murder,Kidnapping and abduction,Robbery,Assault on women,Total crimes
2,Andhra Pradesh,Anantapur,2016,509,104,1,23,33,127,71,12,362,7098
3,Andhra Pradesh,Chittoor,2016,515,46,7,12,21,72,19,2,135,4242
4,Andhra Pradesh,Cuddapah,2016,514,73,7,12,38,78,24,11,266,7429
5,Andhra Pradesh,East Godavari,2016,960,77,4,12,120,64,61,14,413,7991
6,Andhra Pradesh,Guntakal Railway,2016,584,3,0,2,0,8,1,7,8,665
...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,Lakshadweep,Lakshadweep,2016,8,0,0,0,5,0,0,0,1,36
919,Lakshadweep,Total District(s),2016,8,0,0,0,5,0,0,0,1,36
922,Puducherry,Karaikal,2016,53,1,0,0,5,2,0,1,13,598
923,Puducherry,Puducherry,2016,483,32,2,0,1,31,15,7,30,3488
924,Puducherry,Total District(s),2016,536,33,2,0,6,33,15,8,43,4086

In [31]:
# To save into excel files
for i,year in enumerate(year_list):
    df_list[i].to_excel(rf"C:\Users\Rakesh Nath\Documents\tableau\Crime project\updated data\Transformed data\districtwise IPC crime {year}.xlsx",index= False)

In [33]:
df=pd.read_excel(r"C:\Users\Rakesh Nath\Documents\tableau\Crime project\updated data\Transformed data\final data\districtwise IPC crime 2001 to 2021.xlsx")

In [34]:
df

,State,District,Year,Theft,Riot,Dacoity,Dowry death,Rape,Murder,Kidnapping and abduction,Robbery,Assault on women,Total crimes
0,ANDHRA PRADESH,ADILABAD,2001,199,78,9,16,50,101,46,41,149,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,366,168,8,7,23,151,53,16,118,4125
2,ANDHRA PRADESH,CHITTOOR,2001,723,156,4,14,27,101,59,14,112,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,173,164,1,17,20,80,25,4,126,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,1021,70,4,12,23,82,49,25,109,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16765,Ladakh,Kargil,2021,4,4,0,0,1,4,1,0,2,176
16766,Ladakh,Leh,2021,6,4,0,0,1,1,3,0,3,343
16767,Lakshadweep,Lakshadweep,2021,7,0,0,0,0,1,0,0,1,89
16768,Puducherry,Karaikal,2021,0,0,0,0,0,0,0,0,0,0
16769,Puducherry,Puducherry,2021,408,17,4,2,2,19,40,12,31,3851

In [58]:
# Removing total rows
df=df[~df["District"].str.contains("total",case=False)]

In [59]:
df

,State,District,Year,Theft,Riot,Dacoity,Dowry death,Rape,Murder,Kidnapping and abduction,Robbery,Assault on women,Total crimes
0,ANDHRA PRADESH,ADILABAD,2001,199,78,9,16,50,101,46,41,149,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,366,168,8,7,23,151,53,16,118,4125
2,ANDHRA PRADESH,CHITTOOR,2001,723,156,4,14,27,101,59,14,112,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,173,164,1,17,20,80,25,4,126,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,1021,70,4,12,23,82,49,25,109,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16765,Ladakh,Kargil,2021,4,4,0,0,1,4,1,0,2,176
16766,Ladakh,Leh,2021,6,4,0,0,1,1,3,0,3,343
16767,Lakshadweep,Lakshadweep,2021,7,0,0,0,0,1,0,0,1,89
16768,Puducherry,Karaikal,2021,0,0,0,0,0,0,0,0,0,0
16769,Puducherry,Puducherry,2021,408,17,4,2,2,19,40,12,31,3851

In [60]:
df.to_excel(r"C:\Users\Rakesh Nath\Documents\tableau\Crime project\updated data\Transformed data\final data\districtwise IPC crime 2001 to 2021.xlsx",index= False)